 body{
    margin: 20px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

#reloj{
    font-size: 75px;
    
}

#fecha{
    font-size: 20px;
    
}